.div-content{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
.navs {
  float: left;
  width: 30%;
  background-color: gray;
  padding: 20px;
}

.navs .uls {
  list-style-type: none;
  padding: 0;
  background-color: gray;
}

.articles {
  float: left;
  padding: 50px;
  width: 70%;
    background-color: gray;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
